.html, body{
  margin:0;
  padding: 0;
  background: url(background.jpg) no-repeat scroll 0 0 / cover;
  background-size: cover;
  position: relative;
  height: 100%;
  background-position: center center;
}

.presentation{
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  padding: 50px;
}

.header{
padding: -25px;
}

.name_pro{
  text-align: center;
  font-size: 16px;
  font-family: monospace;
}

.skills{
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;

}

.container_first{
  text-align: center;
  padding-left: 200px;
  font-size: 15px;
  font-family: monospace;
}

.container{

}

.container_1{
  padding: 50px;
  padding-left: 50%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;

}

.container_2{
  padding: 15px;
  font-size: 15px;
  font-family: cursive;
  text-shadow: 0 0 2px white;
}

.container_3{
  text-align: right;
  padding-bottom: 50px;
  font-size: 15px;
  font-family: monospace;
  width: 300px;
  height: 100px;
  padding: 15px;
  border-right: solid 2px;
  text-decoration: none;
}

.diplome{
  font-size: 14px;
  font-family: cursive;
  text-shadow: 0 0 2px white;
}
